
@font-face {
    font-family: "google-sans";
    src: url("https://fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2")
      format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: google-sans;
}
html, body {
    height: 100%;
}
.main{
    background-color: #f0f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.footer {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 16px 0;
}
.footer .group-hpt{
    list-style: none;
    display: flex;
}
.footer .group-hpt a {
    display: block;
    text-decoration: none;
    color: #1f1f1f;
    padding: 8px 12px;
    font-size: 12px !important;
    border-radius: 8px;
    margin-left: 10px;
}
.footer .group-hpt a:hover{
    background-color: #e2e6eb;
}
.footer .lang select {
    all: unset;
    font-size: 12px;
}
.footer .lang select:focus {
    border: 1px solid ;
}

.main .wrapper {
    position: relative;
    width: 50%;
    border-radius: 20px;
    background-color: white ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 108px 36px 36px 36px;
    box-sizing: content-box;
}
.left, .right{
    position: relative;
    flex-basis: 50%;
}
.right{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left{
    padding-right: 24px;
}
.bottom {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 32px;
}
.bottom button.create-account-btn, .bottom button.next-btn {
    all: unset;
    height: 40px;
    font-weight: 500;
    font-size: 14px !important;
    border-radius: 20px;
    text-align: center;
}
.bottom button.create-account-btn{
    color: #0b56d0;
    padding: 0 16px;
}
.bottom button.create-account-btn:hover{
    background-color: #f5f8fd;
}
.bottom button.next-btn {
    background-color: #0b56d0;
    padding: 0 24px;
    color: white;
}
.bottom button.next-btn:hover{
    background-color: #0b56d0;
}
.invalid-input{
    display: flex;
    align-items: flex-start;
    margin-top: 3px;
    height: 16px !important;
}
.invalid-input svg{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: red;
}
.invalid-input span{
    font-size: 12px;
    color: red;
    letter-spacing: 0.1px;
    line-height: 16px;
}
.left svg{
    position: absolute;
    top: -74px;
}
.sign-in-header-div {
    margin-bottom: 16px;
}
.sign-in-header {
    font-size: 36px;
}

.email-wrapper{
    position: relative;
    width: 100%;
}

.email-wrapper input {
    width: 100%;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px 14px;
    height: 56px;
    font-size: 16px;
    outline: none;
}  

.right .forgot-email-btn {
    all: unset;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;
    letter-spacing: 0.25px;
    line-height: normal;
    color: #0b57d0;
    border-radius: 8px;
}
.right .forgot-email-btn:hover {
    background-color: #ebf2fc;
}

.right .guest-mode {
    font-size: 14px;
    margin-top: 32px;
}
