
@font-face {
    font-family: "google-sans";
    src: url("https://fonts.gstatic.com/s/googlesans/v58/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2")
      format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: google-sans;
}
html, body, main {
    height: 100%;
    background-color: #f0f4f9;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.footer {
    display: flex;
    justify-content: space-between;
    width: 1040px;
    margin: 16px 0;
}
.footer .group-hpt{
    list-style: none;
    display: flex;
}
.footer .group-hpt a {
    display: block;
    text-decoration: none;
    color: #1f1f1f;
    padding: 8px 12px;
    font-size: 12px !important;
    border-radius: 8px;
    margin-left: 10px;
}
.footer .group-hpt a:hover{
    background-color: #e2e6eb;
}
.footer .lang select {
    font-size: 12px;
    padding:  8px 20px 8px 12px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 8px;
    border: 1px solid transparent;
}
.footer .lang select:focus {
    border: 1px solid #0b57d0;
}
.footer .lang select:hover {
    background-color: #e1e5ea;
}

.main .wrapper {
    position: relative;
    width: 1040px;
    min-height: 384px;
    border-radius: 20px;
    background-color: white ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 108px 36px 36px 36px;
}
.left, .right{
    position: relative;
    flex-basis: 50%;
}
.right{
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left{
    padding-right: 24px;
}
.bottom {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 32px;
}
.bottom button.create-account-btn, .bottom button.next-btn {
    all: unset;
    height: 40px;
    font-weight: 500;
    font-size: 14px !important;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.bottom button.create-account-btn{
    color: #0b56d0;
    padding: 0 16px;
}
.bottom button.create-account-btn:hover{
    background-color: #f5f8fd;
}
.bottom button.next-btn {
    background-color: #0b56d0;
    padding: 0 24px;
    color: white;
}
.bottom button.next-btn:hover{
    background-color: #0e4eb4;
}
.invalid-input{
    display: flex;
    align-items: flex-start;
    margin-top: 3px;
    height: 16px !important;
    overflow: hidden; 
    flex-shrink: 1; 
    min-width: 0;
}
.invalid-input svg{
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: red;
}
.invalid-input span{
    font-size: 12px;
    color: red;
    letter-spacing: 0.1px;
    line-height: 16px;
}
.left svg{
    position: absolute;
    top: -74px;
}
.sign-in-header-div {
    margin-bottom: 16px;
}
.sign-in-header {
    font-size: 44px;
}

.email-field-wrapper{
    position: relative;
    width: 100%;
}

.email-field-wrapper input, .password-field-wrapper #password-field {
    width: 100%;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 12px 14px;
    height: 56px;
    font-size: 16px;
    outline: none;
}  
.email-field-wrapper input:focus{
    border: 2px solid #0b56d0;
}

.right .forgot-email-btn {
    all: unset;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 8px;
    letter-spacing: 0.25px;
    line-height: normal;
    color: #0b57d0;
    border-radius: 8px;
    cursor: pointer;
}
.right .forgot-email-btn:hover {
    background-color: #ebf2fc;
}

.right .guest-mode {
    font-size: 14px;
    margin-top: 32px;
    letter-spacing: 0.015625rem;

}
.right .guest-mode a {
    text-decoration: none;
    font-weight: 500;
    color: #0b56d0;
}
.right .guest-mode a:hover {
    text-decoration: underline;
}

#show-password-chckbox {
    display: block;
    height: 18px;
    width: 18px;
    margin-right: 16px;
    
}

.right {
    position: relative;
}

.password-wrapper {
    position: absolute;
    transform: translateX(550px);
}


@media (max-width: 1240px) {
    .wrapper, .footer{
        width: 90% !important;
    }
}

@media (max-width: 840px){
    .right, .left {
        flex-basis:initial;
    }
    .right {
        padding-left: 0;
    }
    .left {
        margin-bottom: 32px;
    }
    .wrapper{
        width: 480px !important;
        flex-direction: column !important;
        padding: 96px 24px 24px;
    }
    .footer {
        width: 480px !important;
    }
    .bottom{
        justify-content: space-between !important;
        row-gap: 2rem;
    }
}
@media (max-width: 480px) {
    .wrapper {
        border-radius: 0;
        width: 100% !important;
        height: 100% !important;
    }
    .main {
        background-color: white;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 90% !important;
        flex-wrap: wrap;
    }
    .group-hpt{
        flex-wrap: wrap;
    }
}
